.DS_Store

# Android
projects/Android/.gradle/*
projects/Android/.idea/*
projects/Android/build

projects/Android/app/.cxx
projects/Android/app/.build


projects/Android/sdk/.cxx
projects/Android/sdk/.build


#iOS
projects/iOS/IJKMediaPlayer/IJKMediaPlayer.xcodeproj/project.xcworkspace/xcuserdata/*
projects/iOS/IJKMediaPlayer/IJKMediaPlayer.xcodeproj/xcuserdata/*
projects/iOS/IJKMediaDemo/IJKMediaDemo.xcodeproj/xcuserdata/*
projects/iOS/IJKMediaDemo/IJKMediaDemo.xcodeproj/project.xcworkspace/xcuserdata/*


#Qt
build/
projects/Qt/build/
projects/Qt/CMakeLists.txt.user
projects/Qt/mainwindow.ui.autosave
